body{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(48, 51, 54);
}
button{
    width: 200px;
    height: 35px;
    background-color: rgb(179, 149, 18);
    color: white;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    font-size: medium;

}
button :hover{
    background-color: rgb(121, 101, 12);
}
input {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    width: 400px;
    height: 30px;
}
.maindiv{
    display: block;
    /* align-content: center; */
    align-items: center;
    color: aqua;
}
textarea{
    background-color: rgba(0, 0, 0, 0.199);
    color: white;
}
.log{
    background-color: brown;
    color: white;
}
.list{
    color: white;
    display: flex;
    position: fixed;
    top: 100px;
    left: 20px;
}